@media(max-width:575px){
    .navbar {
        background-color: #160C6D;
        opacity: 1;
        
      }
      .navbar-collapse {
        text-align: center;

      }
      .banner-content h1 {
        font-size: 20px;
        line-height: 50px;
      }
      .banner-content p {
        font-size: 14px;
        line-height: 30px;
        padding-left:0;
        padding-right:0;
      }

      .overlay {
        padding-top: 150px;
        padding-bottom: 150px;
        
      }
      .btn1 {
        padding: 20px 40px;
        margin-bottom: 10px;
     
      }

}