* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8px;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
:root {
  --main-color: #6b62c5;
  --secondary-color: #1bbf00;
  --descriptionText-color: #e6e5f3;
  --discription2-color: #726e9e;
  --headerText-color: #fafafe;
  --text_color: #141135;
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Paprika", cursive;
  --rare-font: "Nunito", sans-serif;
}
.navbar {
  background-color: var(--main-color);
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 80%;
}
.navbar-expand-lg .navbar-collapse .nav-link {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 18;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--headerText-color);
}

.navbar-expand-lg .navbar-collapse .nav-link:hover {
  color: var(--secondary-color);
}
.navbar-expand-lg .navbar-collapse .nav-link:hover i {
  color: var(--headerText-color);
}
.nav_btn button {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  padding: 14px 28px;
  background-color: var(--secondary-color);
  border-radius: 100px;
  border: none;
  color: var(--headerText-color);
}
#banner {
  position: relative;
}
.overlay {
  background-color: rgba(106, 98, 197, 0.9);
  padding-top: 250px;
  padding-bottom: 253px;
  opacity: 1;
}
.banner-content h1 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 84px;
  text-transform: capitalize;
  color: var(--headerText-color);
  line-height: 100px;
}
.banner-content p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 24px;
  padding-left: 180px;
  padding-right: 180px;
  line-height: 40px;
  color: var(--descriptionText-color);
}

.btn1 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 20px;
  color: var(--headerText-color);
  border-radius: 100px;
  padding: 20px 40px;
  border: 2px solid var(--secondary-color);
  background-color: Transparent;
  background-color: none;
  transition: all linear 0.3s;
}

.btn1:hover {
  background-color: var(--secondary-color);
}
.card-wraper {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.card-wraper h3 {
  font-family: var(--primary-font);
  font-size: 64px;
  color: var(--secondary-color);
  font-weight: 800;
  padding-bottom: 50px;
}
.card-wraper p {
  font-family: var(--primary-font);
  font-size: 36px;
  color: #141135;
  font-weight: 700;
}
.card-border {
  position: relative;
}

.borderbar {
  height: 120px;
  width: 2px;
  position: absolute;
  top: -30px;
  background-color: gray;
}
.chooseContent {
  display: flex;
  gap: 5%;
  padding: 0px 0px 0px 28px;
  border-radius: 12px;
  transition: all linear 0.3s;
  z-index: -2;
}
.chooseContent:hover {
  background: #ffff;
  padding-top: 42px;
  padding-bottom: 42px;

  box-shadow: 10px 30px 60px rgba(162, 169, 192, 0.15);
  margin-bottom: 20px;
}
.chooseContent:hover :last-child {
  margin-bottom: 0px;
}
.chooseLeft {
  width: 10%;
  position: relative;
}
.circle {
  background-color: var(--secondary-color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.circle::after {
  content: " ";
  background-color: #cbc8f0;
  width: 25px;
  height: 25px;
  border-radius: 12px;
  position: absolute;
  left: 15px;
  z-index: 1;
}

.chooseContent p {
  width: 80%;
  font-family: var(--secondary-font);
  color: var(--discription2-color);
  font-weight: 400;
  font-size: 18px;
  padding-right: 50px;
  box-sizing: border-box;
  line-height: 30px;
}

.chooseRight h3 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 48px;
  color: var(--text_color);
  padding-bottom: 30px;
}

.chooseRight p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--discription2-color);
}
.btn2 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 20px;
  color: var(--text_color);
  border-radius: 100px;
  padding: 20px 40px;
  border: 2px solid var(--secondary-color);
  background-color: Transparent;
  background-color: none;
  transition: all linear 0.3s;
}

.btn2:hover {
  background-color: var(--secondary-color);
}
.cart2 {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f6f5ff;
  padding-top: 100px;
  padding-bottom: 50px;
}

.whatDo h3 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 48px;
  color: var(--text_color);
  margin-top: 30px;
  margin-bottom: 30px;
}

.whatDo p {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 20px;
  color: var(--discription2-color);
}
.cardCategory {
  text-align: center;
  box-shadow: 0px 30px 60px rgba(162, 169, 192, 0.1);
  border-radius: 20px;
  background: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px;
  height: 395px;
  transition: all linear 0.3s;
}
.cardCategory:hover {
  background-color: var(--main-color);
}
.cardCategory:hover h4 {
  color: var(--headerText-color);
}
.cardCategory:hover p {
  color: #e6e5f3;
}
.cardCategory:hover a:after {
  background-color: rgba(255, 255, 255, 0.3);
}
.cardCategory .card2Icon {
  margin-bottom: 20px;
}
.card2Details h4 {
  font-family: var(--primary-font);
  padding-left: 52px;
  padding-right: 52px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
  transition: all linear 0.3s;
}
.card2Details p {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  padding-left: 46px;
  padding-right: 46px;
  font-size: 18px;
  line-height: 30px;
  color: var(--discription2-color);
  transition: all linear 0.3s;
}

.card2Details a {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
  padding: 8px 10px;
  color: var(--text_color);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.card2Details a::after {
  content: "";
  position: absolute;
  background-color: rgba(25, 191, 0, 0.3);
  left: 90px;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all linear 0.3s;
}
.card2Details a:hover::after {
  left: 0;
}
.createHeader {
  padding-top: 90px;
  padding-bottom: 80px;

  text-align: center;
}

.createHeader h3 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 30px;
  color: var(--text_color);
}
.createHeader p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  padding: 0 360px;
  line-height: 30px;
  color: #726e9e;
}
.anslysisDetails h4 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 30px;
  color: var(--text_color);
}
.anslysisDetails p {
  margin-top: 30px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--text_color);
}

.groupImg {
  margin-top: -50px;
}
/* choose right start  */
.chooseRightcard {
  background-color: #f9f9fb;
  padding: 100px 0;
}
.chooseRightIcon {
  margin-bottom: 20px;
}

.chooseRightIcon img {
  width: 100%;
}
.money {
  font-family: var(--rare-font);
  font-weight: 800;
  font-size: 48px;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.moneyDetails {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--discription2-color);
  width: 320px;
  margin: 0 auto;
}
.infoCard {
  text-align: center;
  box-shadow: -15px 30px 50px rgba(171, 175, 199, 0.301961);
  background: #ffffff;
}
.starIcon {
  color: #ff7628;
}

.infoDetails {
  padding-left: 220px;
  padding-right: 220px;
  margin: 0 auto;
  border-radius: 20px;
}
.parsonImg img{
  margin-top: -80px;
}
.infoDetails .bigDetails {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: var(--discription2-color);
}
.infoDetails .authorName{
font-family: var(--primary-font);
font-weight: 700;
font-size: 25px;
margin-bottom: 30px;

}
.authorDetails{
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  color: var(--discription2-color);
  padding-bottom: 10px;

}
.likeSection {
  margin-top: 100px;
  margin-bottom: 100px;
}
.likeHeader h3{
font-family: var(--primary-font);
font-weight: 700;
font-size: 50px;
color: var(--text_color);
margin-bottom: 50px;
}
.imgwidth{
  width: 100%;
  border-radius: 20px;
}

.postHeader{
font-family: var(--primary-font);
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 55px;
color: #141135;

}
.postDetails{
  font-family: var(--rare-font);
font-weight: 500;
font-size: 16px;
color: #726E9E;
transition: all linear 0.3s;
}
.postDetails:hover{
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;

}
footer{
  background-color:#48409C;;
}
.footerSection {
  padding-top: 140px;
  padding-bottom: 60px;
}
.footerLogo{
  margin-bottom: 20px;
}
.logoDetails {
font-family: var(--rare-font);
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
text-transform: capitalize;
color: #FEFEFE;
opacity: 0.9;
}

.features h4{
font-family: var(--primary-font);
font-style: normal;
font-weight: 600;
font-size: 24px;
color: #fff;
margin-bottom: 30px;
padding-left: 30px;


}

.features ul li a {
  font-family: var(--rare-font);
font-style: normal;
font-weight: 600;
font-size: 20px;

line-height: 40px;
color: #fff;
}